<div class="6 text-xs-center text-muted" style="padding:6px 0 2px; margin-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,.1)">
    <img src="/images/logo.jpg" height="34px" style="margin:-5px 2px 0 0;">
    上海交通大学医学院附属新华医院药学部
</div>